

body {
    background-image: url('Images/BG-login/backgroundlogin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
[x-cloak] { display: none !important; }
